# Workspace status command
build --enable_platform_specific_config
build --experimental_cc_shared_library
build --@spdlog//:header_only=False

# Flag aliases
build --flag_alias=enable_static_build=//tools:enable_static_build
build --flag_alias=enable_dynamic_build=//tools:enable_dynamic_build
build --flag_alias=enable_python_build=//tools:enable_python_build
build --flag_alias=enable_benchmark_build=//tools:enable_benchmark_build
build --flag_alias=enable_matplotlib_build=//tools:enable_matplotlib_build
build --flag_alias=enable_gurobi_build=//tools:enable_gurobi_build
build --flag_alias=python_version=@rules_python//python/config_settings:python_version

# Default build
build:windows --cxxopt=/std:c++20 --cxxopt=/utf-8
build:windows --workspace_status_command=tools/workspace_status.bat
build:windows --enable_runfiles

build:linux --cxxopt=-std=c++20
build:linux --workspace_status_command=tools/workspace_status.sh
# Produce debugging information in DWARF 4 format that the gold linker can parse.
# build:linux --cxxopt=-gdwarf-4

build:macos --cxxopt=-std=c++20
build:macos --workspace_status_command=tools/workspace_status.sh

# Debug build
build:dbg --compilation_mode=dbg
build:dbg --strip=never
build:dbg --fission=yes
build:dbg --dynamic_mode=off

# Optimized build
build:opt --compilation_mode=opt
build:opt --cxxopt=-O3

# Building python bindings
build:py --compilation_mode=opt
build:py --enable_static_build
build:py --enable_python_build
build:py --enable_matplotlib_build=False

# Benchmark build
build:bench --compilation_mode=opt
build:bench --cxxopt=-O3
build:bench --enable_static_build
build:bench --enable_benchmark_build

# Dependency clean
build:dwyu --aspects=//tools:dwyu.bzl%dwyu
build:dwyu --output_groups=dwyu
