@import "./base.css";

small {
  @apply italic;
}

.btn {
  @apply text-white px-2 py-2 rounded transition-colors duration-200 cursor-pointer;
}

.btn.btn-primary {
  @apply bg-blue-500 hover:bg-blue-600;
}

.btn.btn-secondary {
  @apply bg-gray-700 hover:bg-gray-600;
}

.btn.btn-success {
  @apply bg-green-500 hover:bg-green-600;
}

.btn.btn-danger {
  @apply bg-red-500 hover:bg-red-600;
}

.btn[disabled] {
  @apply bg-gray-400 cursor-not-allowed hover:bg-gray-400;
}
