@import "./base.css";

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

small {
  @apply italic;
}

.btn {
  @apply text-white px-2 py-2 rounded transition-colors duration-200 cursor-pointer;
}

.btn.btn-primary {
  @apply bg-blue-500 hover:bg-blue-600;
}

.btn.btn-secondary {
  @apply bg-gray-700 hover:bg-gray-600;
}

.btn.btn-success {
  @apply bg-green-500 hover:bg-green-600;
}

.btn.btn-danger {
  @apply bg-red-500 hover:bg-red-600;
}

.btn[disabled] {
  @apply bg-gray-400 cursor-not-allowed hover:bg-gray-400;
}

code {
  @apply bg-gray-100 text-sm overflow-x-auto;
}

span.log-critical {
  @apply text-purple-500 font-bold italic;
}
span.log-error {
  @apply text-red-500 font-bold italic;
}
span.log-warning {
  @apply text-yellow-500 font-bold italic;
}
span.log-info {
  @apply text-blue-500 font-bold italic;
}
span.log-debug {
  @apply text-gray-500 font-bold italic;
}
span.log-trace {
  @apply text-gray-400 font-bold italic;
}

.drag-over {
  @apply border-2 border-dashed border-blue-500 bg-blue-50;
}
