div.header {
  background-color: transparent;
  border: 0;
}

#doc-content {
  position: relative;
}

#doc-content::before {
  content: "";
  position: fixed;
  top: 24px;
  left: 24px;
  width: 100%;
  height: 100%;
  background-image: url("./lucid-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

html.light-mode #doc-content::before {
  filter: invert(1);
}

h2.groupheader {
  box-shadow: none;
}

table.memberdecls .memSeparator {
  background-color: transparent;
}

div.memdoc {
  padding: 6px 10px 2px 10px;
}